/* contact.css */

.contact-title {
  font-size: 5rem;
  border-bottom: 5px var(--primary-color) solid;
  text-shadow: rgb(0, 0, 0) 1px 5px 10px;
  color: #ffffff;
}

.contact-card-text {
  font-size: xx-large;
  text-align: center;
  margin-top: 20px;
}

.contact-card-social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.social-link {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem;
  color: var(--primary-color);
}

.social-link:hover {
  color: var(--primary-color-dark);
}

.home-image {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.home-image img {
  max-width: 100%;
  height: auto;
}
