/* home.css */

.home-main {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home-title {
  font-size: 5rem;
  border-bottom: 5px var(--quad-color) solid;
  text-shadow: rgb(0, 0, 0) 1px 5px 10px;
  color: #ffffff;
}

.home-content {
  max-width: 700px;
  text-align: left;
  font-size: larger;
}

.home-content p {
  margin-bottom: 5rem;
}

.home-social {
  margin-top: 2rem;
}

.home-social a {
  display: inline-block;
  margin-right: 1rem;
}

.home-image {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.home-image img {
  max-width: 100%;
  height: auto;
}
