/* Base colors */

:root {
  --primary-color: #020202;
  --secondary-color: #03426bff;
  --terdiary-color: #0298f9ff;
  --quad-color: #04ddc8ff;
}
html {
  background: rgb(3, 66, 107);
  background: linear-gradient(
    180deg,
    rgba(3, 66, 107, 1) 8%,
    rgba(2, 152, 249, 1) 48%,
    rgba(4, 221, 200, 1) 98%
  );
  font-family: "Poppins", sans-serif;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1.7em;
  overflow: visible;
  vertical-align: -0.025em;
}
